<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition" >
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header">
            <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
            <Label class="sidedrawer-header-brand" text="User Name"></Label>
            <Label class="footnote" text="username@mail.com"></Label>
        </StackLayout>
    
        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="Home" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/browse')" (tap)="onNavItemTap('/browse')">
                    <Label col="0" text="&#xf1ea;" class="fa"></Label>
                    <Label col="1" text="Browse" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/search')" (tap)="onNavItemTap('/search')">
                    <Label col="0" text="&#xf002;" class="fa"></Label>
                    <Label col="1" text="Search" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/featured')" (tap)="onNavItemTap('/featured')">
                    <Label col="0" text="&#xf005;" class="fa"></Label>
                    <Label col="1" text="Featured" class="p-r-10"></Label>
                </GridLayout>
    
                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="&#xf013;" class="fa"></Label>
                    <Label col="1" text="Settings" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <GridLayout rows="*, auto" class="page" tkMainContent>
        <StackLayout row="0">
            <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
        </StackLayout>
        <StackLayout row="1">
         <GridLayout columns="*, *, *,*" height="50" row="1" class="bottom-navigation" >
            <GridLayout col="0" rows="auto, *" class="bottom-navigation-item" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                <Label row="0" text="&#xf015;" class="page-icon fa"></Label>
                <Label row="1" [text]="'HOME' " class="label"></Label>
            </GridLayout>
        
            <GridLayout col="1" rows="auto, *" class="bottom-navigation-item" [class.selected]="isComponentSelected('/wishlist')" (tap)="onNavItemTap('/wishlist')">
                <Label row="0" text="&#xf004;" class="page-icon fa"></Label>
                <Label row="1" [text]="'WISHLIST'" class="label"></Label>
            </GridLayout>
        
            <GridLayout col="2" rows="auto, *" class="bottom-navigation-item"  [class.selected]="isComponentSelected('/cart')" (tap)="onNavItemTap('/cart')">
                <Label row="0" text="&#xf07a;" class="page-icon fa"></Label>
                <Label row="1" [text]="'CART'" class="label"></Label>
            </GridLayout>
            <GridLayout col="3" rows="auto, *" class="bottom-navigation-item" [class.selected]="isComponentSelected('/account')" (tap)="onNavItemTap('/account')">
            <Label row="0" text="&#xf2bd;" class="page-icon fa"></Label>
            <Label row="1" [text]="'ACCOUNT'" class="label"></Label>
        </GridLayout>
        </GridLayout>
        </StackLayout>
      
    </GridLayout>


</RadSideDrawer>
